{% extends 'base.html' %}
{% block pagetitle %}{{clase.nombre}}{% endblock %}

{% block content %}
	
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4><a href="../">Volver al Home del curso</a></h4>
			<ul>
				{% if anterior %}<li><a href="../{{ anterior.clase_slug }}" >Anterior</a></li>{% endif %}
				{% if siguiente %}<li><a href="../{{ siguiente.clase_slug }}">Siguiente</a></li>{% endif %}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			
			<h2>{{clase.nombre}}</h2>
				{{clase.contenido}}
			
		</div>
	</div>

	<div class="row">
		<div class="col-md12">

			<h4>Listado de clases</h4>

			<ul>
				{% for clase in listado_clases %}
					<li><a href="/curso/{{curso_id}}/clase/{{clase.id}}">{{clase.nombre}}</a></li>
				{% endfor %}
			</ul>

		</div>
	</div>

</div>

{% endblock %}