{% extends 'base.html' %}
{% block pagetitle %}{{curso.nombre}}{% endblock %}

{% load thumbnail %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<h2>{{curso.nombre}}</h2>
			<h3><a href="/curso/suscribirme/{{curso.id}}/">Suscribirme</a></h3>
			<img src="{{ curso.img|thumbnail_url:'galeriacursos' }}" alt="{{curso.nombre}}"/>
			
			<br>
			<h4>Listado de clases</h4>
			
			<ul>
				{% for clase in listado_clases %}
					<li><a href="/cursos/{{curso.slug}}/{{clase.clase_slug}}">{{clase.nombre}}</a></li>
				{% endfor %}
			</ul>
			<br>
			{% if listado_examenes %}
			<h4>Listado de Examenes</h4>
			<ul>
				{% for examen in listado_examenes %}
				<li>
					<a href="../../examen/{{curso.slug}}/{{examen.examen_slug}}">{{examen.nombre}}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>


</div>

{% endblock %}