{% extends 'base.html' %}
{% block pagetitle %}{{curso.nombre}}{% endblock %}

{% load thumbnail %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<h2>{{curso.nombre}}</h2>
			<h3><a href="/curso/suscribirme/{{curso.id}}/">Suscribirme</a></h3>
			<img src="{{ curso.img|thumbnail_url:'galeriacursos' }}" alt="{{curso.nombre}}"/>
			
			<br>
			<h4>Listado de clases</h4>
			

			{% for uni, listaunidad in listadoClaseUnidad.items %}

				<h4>Unidad {{uni}}:
				
				{% for u in unidad %}

					{% if u.sorting == uni %}

						{{u.nombre}}

					{% endif %}

				{% endfor %}
				
				</h4>
				
				<ul>{% for clase in listado_clases %}
					{% if clase.unidad.id == listaunidad%}
					<li>{{clase.sorting}}. <a href="/cursos/{{curso.slug}}/{{clase.clase_slug}}">{{clase.nombre}}</a></li>
					{% endif %}{% endfor %}
				{% for examen in listado_examenes %}
					{% if examen.unidad.id == listaunidad%}
					<li>
					e. <a href="../../examen/{{curso.slug}}/{{examen.examen_slug}}">{{examen.nombre}}</a>
					</li>
					{% endif %}{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>


</div>

{% endblock %}