{% extends 'base.html' %}
{% block pagetitle %}{{clase.nombre}}{% endblock %}

{% block content %}
	
<div class="container">
	

	<div class="row">
		<div class="col-md-12">
			<small>{{curso.nombre}}</small>
			
			<h2>{{examen.nombre}}</h2>
			<h1>{{pregunta.texto}}</h1>
				
			
		</div>
	</div>
	{% if listado_respuestas %}
	<div class="row">
		<h5>Alternativas:</h5>
		
		<form action="">
			
			{% for respuesta in listado_respuestas %}
			<p> <input type="radio" name="a" value="{{respuesta.id}}">  {{respuesta.texto}}</p>
			{% endfor %}
		
		<br>
		<button value="send">Guardar respuesta</button>
		</form>
		<a href="#">Siguiente pregunta</a>

	</div>
	{%  endif %}
</div>

{% endblock %}