{% extends 'base.html' %}
{% block pagetitle %}{{clase.nombre}}{% endblock %}

{% block content %}
	
<div class="container">
	
	<form action="../../pregunta/{{pregunta.id}}/" method="post">
	{% csrf_token %}
	
	<div class="row">
		<div class="col-md-12">
			<small>{{curso.nombre}}</small>
			
			<h2>{{examen.nombre}}</h2>
			<h1>{{pregunta.texto}}</h1>
				
			
		</div>
	</div>
	{% if listado_respuestas %}
	<div class="row">
		<h5>Alternativas:</h5>

			{% for respuesta in listado_respuestas %}
			
				<p>{{forloop.counter}}) <input type="radio" name="respuesta" value="{{respuesta.id}}"{% if respuesta.id in M %} checked{% endif %}>  
				{{respuesta.texto}}</p>


			{% endfor %}

		<br>
	

	
	<input type="submit" name="submit" value="Guardar Respuesta" />
	</form>





		<ul>
{% if anterior %}<li><a href="../{{ anterior.id }}" >Anterior</a></li>{% endif %}
{% if siguiente %}<li><a href="../{{ siguiente.id }}">Siguiente</a></li>{% endif %}
		</ul>

	</div>
	{%  endif %}
</div>

{% endblock %}