<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Buscador cursos</h1>
			<p class="lead boxed">Capacitación profesional a distancia</p>
            <form action="#" method="get"  id="search-form">
				<div class="input-group">
					<input type="text" placeholder="Search course....autocomplete Ajax"  name="autocomplete-ajax" id="autocomplete-ajax"  class="form-control style-2" />
					<span class="input-group-btn">
					<button class="btn" type="submit"><i class="icon-search"></i></button>
					</span>
				</div><!-- /input-group -->
                  <div class="adv_search"><a href="#">Advanced search</a></div>
			</form>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->