<footer>
<div class="container" id="nav-footer">
  <div class="row text-left">
    <div class="col-md-3 col-sm-3">
      <h4>CAT1</h4>
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>CAT2</h4>
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>CAT3</h4>
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <ul id="follow_us">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class=" icon-google"></i></a></li>
      </ul>
      <ul>
        <li><strong class="phone">+56 2123 456</strong><br><small>Lun - Mar / 9.00AM - 06.00PM</small></li>
        <li>Preguntas? <a href="#">hola@cursaria.cl</a></li>
      </ul>
    </div><!-- End col-md-4 -->
  </div><!-- End row -->
</div>
<div id="copy_right">© 2014-1015</div>
</footer>
<div id="toTop">subir</div>