    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">

            <a href="/" title="cursaria"><img id="logoc" src="/static/img/logocursaria.svg" alt="Cursaria" class="img-responsive"></a>
            
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="pull-right">
              <a href="#" class="button_top" id="login_top">ENTRAR</a>
              <a href="#" class="button_top hidden-xs" id="apply">REIGSTRARSE</a>
            </div>
            <ul id="top_nav" class="hidden-xs">
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
          </div>
        </div>
      </div>
      </header><!-- End header -->

      <nav>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="mobnav-btn"></div>
              <ul class="sf-menu">
                <li class="normal_drop_down"><a href="/">Inicio</a></li>
                <li class="normal_drop_down">
                <a href="#">Cursos</a>
                <div class="mobnav-subarrow"></div>
                <ul>
                    <li><a href="#">opcion 1</a></li>
                    <li><a href="#">opcion 2</a></li>
                </ul>
                </li>
                <li><a href="#">Planes &amp; Precios</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
                <div class="col-md-3 pull-right hidden-sm hidden-xs">
                  <div id="sb-search" class="sb-search">
                    <form>
                      <input class="sb-search-input" placeholder="Busca un curso específico.." type="text" value="" name="search" id="search">
                      <input class="sb-search-submit" type="submit" value="">
                      <span class="sb-icon-search"></span>
                    </form>
                  </div>
                </div><!-- End search -->
            </div>
          </div><!-- End row -->
        </div><!-- End container -->
      </nav>
      